 
    {% extends "base.html" %}
    {% block start %}

    <h1>this is index page</h1>

    <table class="container">
      <tr>
         <th>Sr No.</th>
         <th>name</th>
         <th>age</th>
         <th>Can vote</th>
      </tr>
      {% for people in peoples %}
      <tr>
         <td>{{ forloop.counter }}</td>
         <td>{{people.name}}</td>
         <td>{{people.age}}</td>
         <td {% if people.age >= 18 %} style="background:red" {% endif %}>
            {% if people.age >= 18 %} 
            👍
            {% else %}
            👇
            {% endif %}
         </td>
       </tr>
       {% endfor %}
        
    </table>
 
            {{text| truncatechars:80 }}


            <a href="/about/">about</a>
            <a href="/contact/">Conatct</a>

   {% endblock %}
  